body {
    background-color:#b0d0dc;
    color: #111111;
}

.img_pageHeader {
    height: 120px;
/*    width: 160px;     /*  pays no attention to this property because of the 960 grid_6 class (makes it occupy half the grid) */
}

.h1_pageHeader {
    margin-bottom: 20px;
}

header {
    margin-top:10px;
    margin-bottom:100px;
}

header nav {
    margin-top:20px;
    margin-bottom:10px;
}

nav ul li {
    display: inline;
    border-right: 1px solid #555555;
    margin-right: 10px;
    padding-right: 10px;
}

nav ul li:last-child {
    border:none;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration:none;
}

a:hover {
    color: #ffffff;
    text-decoration:underline;
}

#usageInstructions {
    margin-bottom:10px;
}

#searchForm {
    padding-top:10px;
}

.textInput {
    width:300px;
}

textarea {
    resize:none;
    width:350px;
    height:80px;
}

.formButtons{
    margin-bottom:25px;
}

table {
    border-collapse:collapse;
    width:100%;
}

th {
    background-color:#222;
    color:#fff;
}

th, td {
    border:1px solid #444;
    padding:5px;
}

tr:nth-child(even) {
    background-color:#b0c4de;
}

tr:nth-child(odd) {
    background-color:#e3e3e3;
}

footer {
    margin-top:120px;
    margin-bottom:10px;
}

.img_pageFooter {
    height:60px;
}

.img_pageFooter:nth-child(2), .img_pageFooter:nth-child(3) {
    margin-left:150px;
}

#contactInfo {
    background:red;
}

#notesAndLogins {
    background:green;
}

#networkInfo {
    background:yellow;
}

#contactInfo, #notesAndLogins, #networkInfo {
    margin-bottom:5px;
}

label, input {
    margin-right:5px;
}