body {
/*  background-color:#b0c4de; */
    background-color:#b0d0dc;
    color: #111111;
    width:960px;
    margin:0 auto;
}

header {
    margin-top:25px;
    margin-bottom:150px;
}

.img_pageHeader {
    height: 120px;
    width: 180px;
}

.h1_pageHeader {
    margin-bottom: 20px;
}

header nav {
    margin-top:20px;
    margin-bottom:10px;
}

nav ul li {
    display: inline;
    border-right: 1px solid #999999;
    margin-right: 10px;
    padding-right: 10px;
}

nav ul li:last-child {
    border:none;
    margin: 0;
    padding: 0;
}

.textInput {
    width:300px;
}

textarea {
    resize:none;
}

#container {
    background:brown;
    overflow:hidden;
}

#pageHeader {
    background:yellow;
}

#usageInstructions {
    background:red;
}

#searchCustomers {
    background:green;
}

#pageFooter {
    background:blue;
}

#contactInfo {
    background:red;
    padding:10px;
}

#notesAndLogins {
    background:green;
    padding:10px;
}

#networkInfo {
    background:yellow;
    padding:10px;
}

.formButtons{
    margin-bottom:25px;
}

a:link {
    text-decoration:none;
}

a:hover {
    color: #ffffff;
    text-decoration:underline;
}

.resultsDetail a {
    float:left;
    width:40px;
}

.resultsDetail p {
    margin-bottom:10px;
}

.detailsContactName {
    float:left;
    width:200px;
    margin-right:10px;
}

.detailsCompanyName {
    float:left;
    width:450px;
    margin-right:10px;
}

table {
    border-collapse:collapse;
    width:100%;
}

th {
    background-color:#222;
    color:#fff;
}

th, td {
    border:1px solid #444;
    padding:5px;
}

tr:nth-child(even) {
    background-color:#b0c4de;
}

tr:nth-child(odd) {
    background-color:#e3e3e3;
}

footer {
    clear:both;
    margin-top:50px;
}

footer img {
    padding:20px;
}