body {
    font-family:Helvetica, Liberation Sans, Arial, Sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color:#333;
}

h1 {
    font-size: 50px; text-shadow:2px 2px 0 #ddd; font-family:arial black, arial
}

h2 {
    font-weight:bold;
    font-size:30px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 19px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-weight:bold;
    font-size:12px;
    text-align:center;
}

p, h1, h2, h3, h4, h5, h6, ul {
    margin-bottom: 20px;
}

article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

header, footer {
    text-align:center;
}

.h1_pageHeader {
    font-weight:bold;
    font-size:30px;
    text-shadow: 2px 2px 2px #999999;
}

nav ul li {
    font-variant: small-caps;
    font-size: 90%;
    letter-spacing: 1px;
}

textarea {
    font-family:Helvetica, Liberation Sans, Arial, Sans-serif;
}